#background{
    background-image: url("../images/wallpaperflare.com_wallpaper.jpg");
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
  margin:auto;
  padding:0;
}
#new_game_div{
    margin-bottom: 5rem;
}


@import url(https://fonts.googleapis.com/css?family=VT323);
.button {
    
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
    background-color: #501DFF;
    color: 	#000000;
    font-family: sans-serif;
    border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
    font-family: 'VT323', monospace ;
	font-size: 30px;
    color: #FAFAFA;
    text-transform: uppercase;
}

.button:hover {
    background-color: #521dff7e;
}

.text {
    color: #FAFAFA;
}

.h1 {
    color: #FAFAFA;
    font-size: 50px;
    top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 90px;
  color: white;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 50px;
  line-height: 40px;
  letter-spacing: 5px;
  text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
    font-family: 'VT323', monospace ;
    text-transform: uppercase;   
}

@media screen and (max-width: 520px) {
    .h1 {
        font-size: 28px;
    }
}

.h1_div {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 25vh;
}

.add-game-container{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 80vh;
}

.update-game-container{
    height: 120vh;
}

.body{
    background-color: #171717;
}

.list-games-container {
    justify-content: center;
    display: flex;
    width: 100vw;
    height: 1000px;
}

label{
    color: #FAFAFA;
}

.margin-new-game{
    margin: 0.5rem;
}

.arcade-h1{
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 90px;
  color: white;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 5px;
  text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
}

.games-h1 {
    color: #FAFAFA;
    top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  width: 100%;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
    
}

@media screen and (max-width:520px) {
    .games-h1 {text-shadow: -1px 0 0 #fdff2a,
    -3px 0 0 #df4a42,
    1px 0 0 #91fcfe,
    3px 0 0 #4405fc;
    }
}

.games-box {
    background-color: #242424;
}

.margin {
    margin: 3rem;
}
.margin2 {
    margin: 1rem;
}

.margin-bottom {
    margin-bottom: 2rem;
}

.width-height {
    width: 100%;
}

.quiz-margin{
    margin-bottom: 7rem;
}

.text-size {
    font-size: 100%;
}




